* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
  }

  html{
    scroll-behavior: smooth;
  }

  /* header and Navbar styling */
  #Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    box-shadow: 0px 5px 20px;
    background-color: bisque;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #Navbar li{
    list-style: none;
    padding: 0px 15px;
    text-decoration: none;
    /* i wanted to remove the line from the navbar but it didn't work */
    position: relative;
  }

  #Navbar li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
  }

  #Navbar li a:hover,
  #Navbar li a.active{
    color: red;
    transition: 0.5s ease;
  }

  #Navbar li a.active::after,
  #Navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    background: red;
    bottom: -4px;
    left: 15px;
  }

  #mobile{
    display: none;
    align-items: center;
  }

  /* Main home page styling */
  #Main{
    background-image: url(Images/hero4.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #Main h4{
    padding-bottom: 15px;
  }

  #Main h1{
    color: red;
  }

  #Main button{
    background-image: url(Images/button.png);
    background-color: transparent;
    color: red;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
  }

  h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }

 .normal{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 12px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
  body {
    width: 100%;
  }

  /* features styling */
  #Features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #Features .featbox{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
  }

  #Features .featbox:hover{
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.02);
  }

  #Features .featbox h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: red;
    background-color: bisque;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
  }
  
  #Features .featbox img{
    width: 100%;
    margin-bottom: 12px;
  }

  #Features .featbox:nth-child(2) h6{
    background-color: #cdebbc;
  }
  #Features .featbox:nth-child(3) h6{
    background-color: #d1e8f2;
  }
  #Features .featbox:nth-child(4) h6{
    background-color: #cdd4f8;
  }
  #Features .featbox:nth-child(5) h6{
    background-color: #f6dbf6;
  }
  #Features .featbox:nth-child(6) h6{
    background-color: #fff2e5;
  }

  /* Products styling */
  #Products1 .Products-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }

  #Products1{
    text-align: center;
  }

  #Products1 .Prod{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    transition: 0.2s ease;
    position: relative;
  }

  #Products1 .Prod img{
    width: 100%;
    border-radius: 20px;
  }

  #Products1 .Prod:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }

  #Products1 .Prod .Desc{
    text-align: start;
    padding: 10px 0;
  }

  #Products1 .Prod .Desc span{
    color: darkslategrey;
    font-size: 11px;
    font-weight: 700;
  }

  #Products1 .Prod .Desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }

  #Products1 .Prod .Desc i{
    font-size: 12px;
    color:  rgb(243, 181, 25);
  }

  #Products1 .Prod .Desc h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: red;
  }

  #Products1 .Prod .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: bisque;
    font-weight: 500;
    color: red;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 17px;
    right: 20px;
    size: 2px;
  }

  /* Styling for my lower banner */
  #Banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(Images/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }

  #Banner h4{
    color: white;
    font-size: 16px;
  }

  #Banner h2{
    color: white;
    font-size: 30px;
    padding: 1opx 0;
  }

  #Banner span{
    color: red;
  }

  #Banner .normal:hover{
    background: bisque;
    color: red;
  }

  #left-banner .leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(Images/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 3%;
  }

  #left-banner .rightbox{
    background-image: url(Images/banner/b10.jpg);
  }

  #left-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #left-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
  }

  #left-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
  }

  #left-banner span{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
  }

 button{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
  }

  #left-banner .leftbox:hover button{
    background-color: bisque;
    color: red;
    border: 1px solid bisque;
  }

  #txtbanner .leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(Images/banner/b7.jpg);
    min-width: 400px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  #txtbanner .box2{
    background-image: url(Images/banner/b4.jpg);
  }

  #txtbanner .box3{
    background-image: url(Images/banner/b18.jpg);
  }

  #txtbanner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  #txtbanner h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
  }

  #txtbanner h3{
    color: red;
    font-weight: 800;
    font-size: 15px;
  }

  #Newsletter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(Images/banner/b14.png);
    background-repeat: no-repeat;
    background-color: bisque;
    background-position: 20px 30px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #Newsletter h4{
    font-size: 22px;
    font-weight: 700;
  }

  #Newsletter p{
    font-size: 12px;
    font-weight: 500;
    color: black;
  }

  #Newsletter span{
    font-size: 12px;
    font-weight: 500;
    color: blue;
  }

  #Newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
  }

  #Newsletter .form{
    display: flex;
    width: 33%;
  }
  
  .button{
    display: inline-block;
    padding: 5px 8px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 12px;
    font-weight: 600;
    width: 70px;
    height: 8vh;
    align-items: center;
  }

  .button:hover{
    background-color: green;
    color: white;
  }

  @media screen and (max-width: 799px){
    #Navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: bisque;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.02);
        padding: 80px 0 0 10px;
        transform: 0.2s;
    }

    #Navbar.active{
        right: 0px;
    }

    #mobile{
        display: flex;
        align-items: center;
      }

    #mobile i{
        color: black;
        font-size: 24px;
        padding-left: 20px;
      }

    #Navbar li{
        margin-bottom: 25px;
    }
  }

  
    
  


